<div class="m-0 row justify-content-center pt-3 div-conocimientos-tecnologicos">
    <div class="col-sm-10 col-md-10">


        <!-- titulo -->
        <div class="card text-center text-white bg-info">
            <div class="card-header pt-1 pb-1">
                <h2>Conocimientos tecnológicos</h2>
            </div>
        </div>
        <br>
        <br>

        <!-- lenguajes de escritorio -->
        <div class="card text-center">
            <div class="card-header">
                Lenguajes de escritorio
            </div>
            <div class="card-body pt-1 pb-1">
                <img class="ico-java w80" src="assets/images/iconos/java.png">
                &nbsp;
                &nbsp;
                <img class="ico-c# w60" src="assets/images/iconos/csharp.png">
            </div>
        </div>
        <br>
        <br>


        <!-- tecnologías web -->
        <div class="card text-center">
            <div class="card-header">
                Tecnologías web
            </div>
            <div class="card-body pt-2 pb-2">

                <img class="ico-tecnologias" src="assets/images/iconos/angularMaterial.png"
                    data-toggle="tooltip" data-placement="bottom" title="Angular Material">



                <img class="ico-tecnologias" src="assets/images/iconos/bootstrap.png" data-toggle="tooltip"
                    data-placement="bottom" title="Bootstrap">

                <img class="ico-tecnologias" src="assets/images/iconos/css.png" data-toggle="tooltip"
                    data-placement="bottom" title="CSS 3">

                <img class="ico-tecnologias" src="assets/images/iconos/html.png" data-toggle="tooltip"
                    data-placement="bottom" title="HTML 5">

                <img class="ico-tecnologias" src="assets/images/iconos/javascript.png" data-toggle="tooltip"
                    data-placement="bottom" title="JavaScript">

                <img class="ico-tecnologias" src="assets/images/iconos/materialize.png" data-toggle="tooltip"
                    data-placement="bottom" title="Materialize">

                <img class="ico-nodejs" src="assets/images/iconos/nodejs512px.png" data-toggle="tooltip"
                    data-placement="bottom" title="NodeJS">

                <img class="ico-tecnologias" src="assets/images/iconos/php.png" data-toggle="tooltip"
                    data-placement="bottom" title="PHP 7">

                <img class="ico-tecnologias" src="assets/images/iconos/typescript.png" data-toggle="tooltip"
                    data-placement="bottom" title="TypeScript">
            </div>
        </div>
        <br>
        <br>



        <!-- Frameworks Frontend -->
        <div class="card text-center">
            <div class="card-header">
                Framework Frontend
            </div>
            <div class="card-body pt-1 pb-1">
                <img class="ico-frontend" src="assets/images/iconos/angular.png">
            </div>
        </div>
        <br>
        <br>


        <!-- Frameworks Backend: Entity Frameworks, Asp.Net core 5, ExpressJS -->
        <div class="card text-center">
            <div class="card-header">
                Framework Backend
            </div>
            <div class="card-body pt-1 pb-1">
                <img class="ico-expressjs" src="assets/images/iconos/expressjs.png">
                <img class="ico-backend" src="assets/images/iconos/entityframework.png">
                <img class="ico-backend" src="assets/images/iconos/aspnet.png">
                <img class="ico-backend" src="assets/images/iconos/netcore.jpg">
            </div>
        </div>
        <br>
        <br>

        <!-- Base de datos: PostgreSQL, MySQL, SQL Server 2017, Oracle 11g y 18c, MongoDB-->
        <div class="card text-center">
            <div class="card-header">
                Base de datos
            </div>
            <div class="card-body pt-1 pb-1">
                <img class="ico-bd" src="assets/images/iconos/mongodb.png">
                <img class="ico-bd" src="assets/images/iconos/mysql.png">
                <img class="ico-bd" src="assets/images/iconos/postgressql.png">
                <img class="ico-bd" src="assets/images/iconos/sqlserver2017.png">
                <img class="ico-bd" src="assets/images/iconos/oracledb.png">
            </div>
        </div>
        <br>
        <br>


        <!-- RDBMS:  -->
        <!-- PgAdmin, PhpMyAdmin, MySQL Workbench, Oracle SQL Developer, Microsoft SQL server manager studio, MongoDB Compass -->
        <div class="card text-center">
            <div class="card-header">
                RDBMS
            </div>
            <div class="card-body pt-1 pb-1">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/pgAdmin.png">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/phpMyAdmin.png">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/mysqlworkbench.png">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/oracleSqlDeveloper.png">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/microsoftSQLServerManagement.png">
                <img class="ico-rdbms" src="assets/images/iconos/rdbms/mongodbCompass.png">
            </div>
        </div>
        <br>
        <br>


        <!-- Cloud Amazon Web Services: RDS, EC2, Cognito -->
        <div class="card text-center">
            <div class="card-header">
                Cloud Amazon Web Services
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-aws" src="assets/images/iconos/aws/amazonRDS.png">
                <img class="ico-aws" src="assets/images/iconos/aws/amazonEC2.png">
                <img class="ico-aws" src="assets/images/iconos/aws/amazonCognito.png">
            </div>
        </div>
        <br>
        <br>



        <!-- Versionamiento -->
        <div class="card text-center">
            <div class="card-header">
                Versionamiento
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-ofimatica" src="assets/images/iconos/versionamiento/gitbash.png">
                <img class="ico-ofimatica" src="assets/images/iconos/versionamiento/github.png">
            </div>
        </div>
        <br>
        <br>



        <!-- QA -->
        <div class="card text-center">
            <div class="card-header">
                QA
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-modelamiento" src="assets/images/iconos/qa/postman.png">
                <img class="ico-modelamiento" src="assets/images/iconos/qa/testlink.png">
            </div>
        </div>
        <br>
        <br>

        <!-- Container -->
        <div class="card text-center">
            <div class="card-header">
                Container
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-modelamiento" src="assets/images/iconos/container/docker.png">
            </div>
        </div>
        <br>
        <br>


        <!-- Modelamiento -->
        <div class="card text-center">
            <div class="card-header">
                Modelamiento
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-modelamiento" src="assets/images/iconos/modelamiento/bizagiModeler.png">
                <img class="ico-modelamiento" src="assets/images/iconos/modelamiento/evolusPencil.png">
                <img class="ico-modelamiento" src="assets/images/iconos/modelamiento/starUML.png">
                <img class="ico-modelamiento" src="assets/images/iconos/modelamiento/visio.png">
            </div>
        </div>
        <br>
        <br>



        <!-- Gestión: WBS Schedule Pro, Microsoft Project -->
        <div class="card text-center">
            <div class="card-header">
                Gestión
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-ofimatica" src="assets/images/iconos/gestion/project.png">

                <img class="ico-ofimatica" src="assets/images/iconos/gestion/wbsShedulePro.png">
            </div>
        </div>
        <br>
        <br>

        <!-- Ofimática Microsoft: -->
        <div class="card text-center">
            <div class="card-header">
                Ofimática Microsoft
            </div>
            <div class="card-body pt1 pb1">
                <img class="ico-ofimatica" src="assets/images/iconos/ofimatica/excel.png">
                <img class="ico-ofimatica" src="assets/images/iconos/ofimatica/powerpoint.png">
                <img class="ico-ofimatica" src="assets/images/iconos/ofimatica/word.png">
            </div>
        </div>
        <br>
        <br>

    </div>
</div>
<br>
<br>
<br>
<br>