<!-- <p>sis-enfermeria works!</p> -->

<!-- <p>sis-biblioteca works!</p> -->

<div class="m-0 row justify-content-center pt-3">

    <!-- <div class="col-md-6 col-sm-12"> -->
    <div class="col-sm-12 col-md-12">

        <!-- titulo -->
        <div class="card text-center text-white bg-info">
            <div class="card-header pt-1 pb-1">
                <h2>Sistema POST Importadora</h2>
            </div>
        </div>
        <br>
        <br>


        <!-- inicio proyectos -->
        <div class="row">

            <!-- Inicio de Menu lateral derecho -->
            <div class="col-2">
                <div class="list-group rounded-lg" id="list-tab" role="tablist">

                    <a class="list-group-item list-group-item-action active" id="list-caracterisitcas-list"
                        data-toggle="list" href="#list-caracterisitcas" role="tab" aria-controls="caracterisitcas">
                        Características
                    </a>


                    <a class="list-group-item list-group-item-action" id="list-contexto-list" data-toggle="list"
                        href="#list-contexto" role="tab" aria-controls="contexto">
                        Contexto
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-solucion-list" data-toggle="list"
                        href="#list-solucion" role="tab" aria-controls="solucion">
                        Solución
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-objetivos-list" data-toggle="list"
                        href="#list-objetivos" role="tab" aria-controls="objetivos">
                        Objetivos
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-imagenes-list" data-toggle="list"
                        href="#list-imagenes" role="tab" aria-controls="imagenes">
                        Imágenes
                    </a>
                </div>
            </div>
            <!-- Fin de Menu lateral derecho -->


            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">

                    <!-- INICIO CARACTERISTICAS -->
                    <div class="tab-pane fade show active bg-white rounded-lg" id="list-caracterisitcas" role="tabpanel"
                        aria-labelledby="list-caracterisitcas-list">

                        <h5 class="text-center">Características del sistema</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Octubre a Noviembre del 2019</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>PHP 7, Html 5, Css 3, JavaScript, Bootstrap 3.3</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>MySql</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>MVC</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Singleton</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Tradicional</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Cascada</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <!-- FIN CARACTERISTICAS -->



                    <!-- INICIO CONTEXTO -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-contexto" role="tabpanel"
                        aria-labelledby="list-contexto-list">
                        <h5 class="text-center">Contexto</h5>
                        <br>
                        <div class="card-body">
                            <p class="card-text">
                                El cliente se dedicaba a la venta de frutas y verduras a nivel local.
                                <br>
                                Se identifica que todos los registros son manuales escritos en bitacoras y por mensajes
                                en WhatSapp.
                            </p>
                        </div>
                        <br>
                    </div>
                    <!-- FIN CONTEXTO -->


                    <!-- INICIO SOLUCION -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-solucion" role="tabpanel"
                        aria-labelledby="list-solucion-list">
                        <h5 class="text-center">Propuesta de Solución</h5>
                        <br>
                        <div class="card-body">
                            <p class="card-text">
                                La solución propuesta fué implementar un sistema de gestión y control de procesos que
                                permitiera facilitar y apoyar en todos los procesos de compras con los proveedores y en
                                las ventas con los clientes.
                            </p>
                        </div>
                        <br>
                    </div>
                    <!-- FIN SOLUCION -->


                    <!-- INICIO OBJETIVOS -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-objetivos" role="tabpanel"
                        aria-labelledby="list-objetivos-list">
                        <h5 class="text-center">Objetivos del sistema</h5>
                        <br>
                        <div class="card-body">
                            <p class="card-text"></p>

                            <ol>
                                <li>Optimizar el control de los procesos.</li>
                                <li>Facilitar la trazabilidad de los procesos.</li>
                                <li>Agilizar el traspaso de información.</li>
                                <li>Mejorar el control del inventario.</li>
                                <li>Mejorar la calidad de los servicios entregados a los clientes.</li>
                                <li>Aumentar la calidad de la información generada por la empresa.</li>
                                <li>Aumentar la calidad de los procesos internos de la empresa.</li>
                            </ol>
                        </div>
                        <br>
                    </div>
                    <!-- FIN OBJETIVOS -->





                    <!-- INICIO IMAGENES -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-imagenes" role="tabpanel"
                        aria-labelledby="list-imagenes-list">
                        <h5 class="text-center">Imagenes del sistema</h5>

                        <div class="card-body bg-secondary rounded-lg">
                            <p class="card-text"></p>


                            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="9"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="10"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="11"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="12"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="13"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="14"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="15"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="16"></li>
                                </ol>




                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../../../../assets/images/sis-post-importadora/01_login.png"
                                            class="img-login hx-400">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Vista Login</h5>
                                        <br>
                                    </div>


                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/02_panel_general.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Vista Panel General</h5>
                                        <br>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/03_listar_articulos.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Artículos</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/04_agregar_articulo.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Artículos</h5>
                                        <br>
                                    </div>



                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/05_listar_categorias.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Categorías</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/06_agregar_categorias.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Categorías</h5>
                                        <br>
                                    </div>



                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/07_listar_ingresos.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Ingresos</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/08_agregar_ingresos.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Ingresos</h5>
                                        <br>
                                    </div>




                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/09_listar_proveedores.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Proveedores</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/10_agregar_proveedores.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Proveedores</h5>
                                        <br>
                                    </div>



                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/11_listar_ventas.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Ventas</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/12_agregar_ventas.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Ventas</h5>
                                        <br>
                                    </div>



                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/13_listar_clientes.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Clientes</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/14_agregar_clientes.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Clientes</h5>
                                        <br>
                                    </div>



                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/15_listar_usuarios.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Usuarios</h5>
                                        <br>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/16_agregar_usuarios.png"
                                            class="hx-500">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Usuarios</h5>
                                        <br>
                                    </div>
                                    
                                    
                                    
                                    
                                    <div class="carousel-item">
                                        <img src="../../../../assets/images/sis-post-importadora/17_listar_permisos.png"
                                            class="hx-450">
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                        <br>
                                        <br>
                                        <h5 class="text-white">Módulo Permisos</h5>
                                        <br>
                                    </div>





                                </div>
                                <br>
                                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <!-- FIN IMAGENES -->


                </div>
            </div>
        </div>
        <!-- fin proyectos -->
        <br>


    </div>
</div>
<br>
<br>