.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    /* height: 70px; */
}


.footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


.ico-linkedin {
    height: 30px;
}

.ico-github{
    height: 48px;

}
