<footer class="bg-dark text-center text-white footer">
    <!-- Grid container -->
    <div>
        <section>
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/emilio-gajardo-arancibia" target="_blank" role="button">
                <!-- <img class="w40" src="../../../assets/images/iconos/linkedin.png" alt=""> -->
                <img src="assets/images/iconos/footer/linkedin.png" class="ico-linkedin" title="Ir a Linkedin">
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <!-- Github -->
            <a href="https://github.com/emilio-gajardo" role="button" target="_blank">
                <!-- <i class="fab fa-github"></i> -->
                <!-- <img class="w40" src="../../../assets/images/iconos/github.png" alt=""> -->
                <img src="assets/images/iconos/footer/github.png" class="ico-github" title="Ir al repositorio">
            </a>

            &nbsp;
            &nbsp;
            &nbsp;
            <!-- youtube -->
            <a href="https://www.youtube.com/channel/UCYGZEOj4htw3jpSxha11bkQ/about" target="_blank"
            role="button">
            <!-- <img class="w40" src="../../../assets/images/iconos/linkedin.png" alt=""> -->
            <img src="assets/images/iconos/youtube.png" class="ico-youtube-programacion365" title="Visitar el canal Programación 365">
        </a>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1 footer-copyright">
        © {{anio}} Copyright: Emilio Gajardo
    </div>
    <!-- Copyright -->
</footer>