<div class="m-0 row justify-content-center pt-3">
    <div class="col-sm-10">

        <div>
            <table class="table table-light table-hover tabla-formacion table-responsive-md">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Institución</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Fecha Egreso</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Duoc UC</td>
                        <td>Ingeniería en Informática</td>
                        <td>Dic-2021</td>
                        <td>Titulado</td>
                    </tr>

                    <tr>
                        <td>Duoc UC</td>
                        <td><small>Técnico en Instrumentación y Automatización Industrial</small></td>
                        <td>Nov-2012</td>
                        <td>Titulado</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>