<div class="m-0 row justify-content-center pt-3">
    <div class="col-sm-10 col-md-10">
        <div class="card text-center">
            <!-- <div class="card-header">
                Certificados
            </div> -->
            <!-- <div class="card-body">
            </div> -->
        </div>

        <div class="text-center">
            <table class="table table-light table-hover tabla-certificados">
                <thead class="bg-info text-white text-center">
                    <tr>
                        <th scope="col">Lugar</th>
                        <th scope="col">Certificado de cursos</th>
                        <th scope="col">Enlace</th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row"><img class="ico-udemy" src="../../../assets/images/iconos/udemy512px.png">
                        </th>
                        <td>Curso Angular Avanzado, Stack MEAN</td>
                        <td><a href="{{urlCertificadoCursoStackMean}}" target="_blank"
                                class="btn btn-info btn-sm">Ver</a></td>
                    </tr>

                    <tr>
                        <th scope="row"><img class="ico-scrumstudy" src="../../../assets/images/iconos/scrumstudy.jpg">
                        </th>
                        <td>Curso Scrum Fundamentals Certified</td>
                        <td><a href="{{urlCertificadoCursoScrumFundamentals}}" target="_blank"
                                class="btn btn-info btn-sm">Ver</a></td>
                    </tr>

                    <tr>
                        <th scope="row"><img class="ico-udemy" src="../../../assets/images/iconos/udemy512px.png">
                        </th>
                        <td>Curso Microservicios con ASP.NET 5, Angular, MongoDB, Docker</td>
                        <td><a href="{{urlCertificadoCursoMicroservicios}}" target="_blank"
                                class="btn btn-info btn-sm">Ver</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>