<div class="m-0 row justify-content-center pt-3">



    <!-- <div class="col-md-6 col-sm-12"> -->
    <div class="col-sm-10 col-md-10">

        <!-- titulo -->
        <div class="card text-center text-white bg-info">
            <div class="card-header pt-1 pb-1">
                <h2>Portafolio</h2>
            </div>
        </div>
        <br>
        <br>


        <!-- proyectos -->
        <div class="row">

            <!-- Menu lateral derecho -->
            <div class="col-4">
                <div class="list-group rounded-lg" id="list-tab" role="tablist">

                    <a class="list-group-item list-group-item-action active" id="list-apirestfulphp7-list"
                        data-toggle="list" href="#list-apirestfulphp7" role="tab" aria-controls="home">
                        Api Restful PHP 7
                    </a>
                    
                    
                    <a class="list-group-item list-group-item-action" id="list-portafolio-list"
                        data-toggle="list" href="#list-portafolio" role="tab" aria-controls="home">
                        Portafolio
                    </a>


                    <a class="list-group-item list-group-item-action" id="list-clinica1StackMean-list"
                        data-toggle="list" href="#list-clinica1StackMean" role="tab" aria-controls="home">
                        Hospital con Stack Mean
                    </a>


                    <a class="list-group-item list-group-item-action" id="list-biblioteca-list" data-toggle="list"
                        href="#list-biblioteca" role="tab" aria-controls="home">
                        Microservicios Biblioteca
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-admintask-list" data-toggle="list"
                        href="#list-admintask" role="tab" aria-controls="profile">
                        ERP Admintask
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-enfermeria-list" data-toggle="list"
                        href="#list-enfermeria" role="tab" aria-controls="messages">
                        ERP Enfermería
                    </a>

                    <a class="list-group-item list-group-item-action" id="list-importadora-list" data-toggle="list"
                        href="#list-importadora" role="tab" aria-controls="settings">
                        POST Importadora
                    </a>

                </div>
            </div>



            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">



                    <!-- inicio apirestfulphp7 -->
                    <div class="tab-pane fade show active bg-white rounded-lg" id="list-apirestfulphp7" role="tabpanel"
                        aria-labelledby="list-apirestfulphp7-list">

                        <h5 class="text-center">Resumen de API RESTful en PHP 7</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Febrero 2022</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>PHP 7, JWT</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>MySQL</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>MVC</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Ágil</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Scrum</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>


                            </tbody>
                        </table>
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="apirestfulphp7" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin apirestfulphp7 -->


                    <!-- inicio portafolio -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-portafolio" role="tabpanel"
                        aria-labelledby="list-portafolio-list">

                        <h5 class="text-center">Resumen del sistema de Portafolio</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Abril 2021</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>TypeScript, Html 5, Css 3, Bootstrap 4.6</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>Capas</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Ágil</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Scrum</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>Angular 9</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>


                            </tbody>
                        </table>
                        <!-- <div id="btn-ver-detalles" class="text-center">
                            <a href="" class="btn btn-info btn-sm">Ver detalles</a>
                        </div> -->
                        <br>
                    </div>
                    <!-- fin portafolio -->



                    <!-- inicio clinica1StackMean -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-clinica1StackMean" role="tabpanel"
                        aria-labelledby="list-clinica1StackMean-list">

                        <h5 class="text-center">Resumen del sistema Hospital con Stack Mean</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Marzo a Abril 2021</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>TypeScript, Html 5, Css 3, Bootstrap 4.6</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>Mongo DB</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>Capas</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Observer</td>
                                </tr>
                                
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Ágil</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Scrum</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>Angular 9</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>Express</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="sis-hospital" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin portafolio -->





                    <!-- inicio sistema microservicios biblioteca -->
                    <div class="tab-pane fade show bg-white rounded-lg" id="list-biblioteca" role="tabpanel"
                        aria-labelledby="list-biblioteca-list">

                        <h5 class="text-center">Resumen del sistema de microservicios Biblioteca</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Febrero a Marzo del 2021</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>Asp.Net core 5, TypeScript, Html5, CSS3, JWT, Identity Core</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>MongoDB, Sql Server</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>Microservicios, CQRS</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Repository</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Ágil</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Scrum</td>
                                </tr>

                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>Angular 10</td>
                                </tr>

                                <tr>
                                    <td>Framework Backend</td>
                                    <td>Entity Framework</td>
                                </tr>

                            </tbody>
                        </table>
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="sis-biblioteca" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin sistema microservicios biblioteca -->





                    <!-- inicio sistema ERP Admintask -->
                    <div class="tab-pane fade bg-white rounded-lg" id="list-admintask" role="tabpanel"
                        aria-labelledby="list-admintask-list">

                        <h5 class="text-center">Resumen del sistema ERP Admintask</h5>
                        <br>

                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Agosto a Diciembre del 2020</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Escritorio</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>Java 8, Xml</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>Oracle 18C</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>Capas</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Singleton</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Ágil</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Scrum</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>JavaSwing</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="sis-erp-admintask" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin sistema ERP Admintask -->




                    <!-- inicio sistema ERP Enfermería -->
                    <div class="tab-pane fade bg-white rounded-lg" id="list-enfermeria" role="tabpanel"
                        aria-labelledby="list-enfermeria-list">

                        <h5 class="text-center">Resumen del sistema ERP Enfermería</h5>
                        <br>
                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Agosto a Septiembre del 2019</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>PHP 7, Html 5, Css 3, JavaScript, Bootstrap 3.3</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>MySql</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>MVC</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Singleton</td>
                                </tr>

                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Tradicional</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Cascada</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <hr> -->
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="sis-erp-enfermeria" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin sistema ERP Enfermería -->




                    <!-- inicio sistema POST Importadora Varietuti -->
                    <div class="tab-pane fade bg-white rounded-lg" id="list-importadora" role="tabpanel"
                        aria-labelledby="list-importadora-list">
                        <h5 class="text-center">Resumen del sistema POST de Importadora</h5>
                        <br>
                        <table class="table table-borderless table-sm table-light">
                            <tbody>
                                <tr>
                                    <td>Fecha de desarrollo</td>
                                    <td>Octubre a Noviembre del 2019</td>
                                </tr>
                                <tr>
                                    <td>Plataforma</td>
                                    <td>Web</td>
                                </tr>
                                <tr>
                                    <td>Tecnologías</td>
                                    <td>PHP 7, Html 5, Css 3, JavaScript, Bootstrap 3.3</td>
                                </tr>
                                <tr>
                                    <td>Base de datos</td>
                                    <td>MySql</td>
                                </tr>
                                <tr>
                                    <td>Patrón de arquitectura</td>
                                    <td>MVC</td>
                                </tr>
                                <tr>
                                    <td>Patrón de diseño</td>
                                    <td>Singleton</td>
                                </tr>
                                <tr>
                                    <td>Metodología de desarrollo</td>
                                    <td>Tradicional</td>
                                </tr>
                                <tr>
                                    <td>Modelo de desarrollo</td>
                                    <td>Cascada</td>
                                </tr>
                                <tr>
                                    <td>Framework Frontend</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>Framework Backend</td>
                                    <td>NA</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <hr> -->
                        <div id="btn-ver-detalles" class="text-center">
                            <a routerLink="sis-post-importadora" class="btn btn-info btn-sm">Ver detalles</a>
                        </div>
                        <br>
                    </div>
                    <!-- fin sistema POST Importadora Varietuti -->


                </div>
            </div>
        </div>
    </div>
</div>