.list-group-item.active{
  background-color: #17A2B8!important;
  border-color: #17A2B8!important;
}


.ico-github-programacion365{
    height: 50px;
}

.ico-youtube-programacion365{
    height: 32px;
}