<!-- <p>home works!</p> -->

<div class="m-0 row justify-content-center pt-3">


    <div class="col-sm-8 col-md-8">

        <div class="card text-center">
            <div class="card-header bg-info text-white">
                Presentación
            </div>
            <div class="card-body">
                <p class="card-text">
                    Hola soy Emilio Gajardo y bienvenido a mi portafolio.
                    <br>
                    <br>
                    Egresé en diciembre del 2020 de la carrera de Ingeniería en
                    Informática de Duoc UC.
                    <br>
                    <br>
                    Soy un programador con una alta orientación al cumplimiento de objetivos, al orden, al trabajo en
                    equipo y a compartir los conocimientos.
                    <br>
                    <br>
                    Estoy constantemente capacitándome tomando cursos y profundizando en las tecnologías, con el objetivo
                    de ofrecer la mejor solución posible.
                    <br>
                </p>
            </div>
            <div class="card-footer text-muted pb-1">
                <p><small>Fecha de hoy: {{fecha}}</small></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>