.list-group-item.active {
  background-color: #169db2;
  border-color: #169db2;
}

.carousel-item {
  text-align: center;
  align-items: center;
}

.img-home,
.img-login,
.img-familiares,
.img-pacientes,
.img-remuneraciones {
  height: 400px;
}
.img-enfermeras {
  height: 350px;
}
