<div class="m-0 row justify-content-center pt-3">
    <div class="col-sm-8 col-md-8">
        <div class="card text-center">
            <div class="card-header bg-info text-white">
                Actualidad
            </div>
            <div class="card-body pb-2 text-center">
                <p class="card-text">
                    Actualmente me encuentro por interés propio,
                    <br>
                    profundizando en las tecnologías de <b>Stack MEAN</b>.
                    <br>
                </p>
                <hr>

                <img class="ico-mongodb" src="assets/images/iconos/mongodb2.png">
                
                <img class="ico-express" src="assets/images/iconos/expressjs.png">
                
                <img class="ico-angular" src="assets/images/iconos/angular512px.png">
                
                <img class="ico-nodejs" src="assets/images/iconos/nodejs512px.png">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>